## API key used to get UVA (Unidad de valor adquisitivo) value. UVA is a measure that equals one-thousandth of the average cost per square meter of the housing to be built in Argentina.
## In order to get this API key, go to https://estadisticasbcra.com/api/registracion
## Be careful: this API key just last 6 months.
ESTADISTICAS_BCRA_API_KEY=

#If you want to serve Swagger doc, set it as "CREATE_SWAGGER_DOC=true". You will access in http://.../api
CREATE_SWAGGER_DOC=false

#JWT Key. Make it very random
JWT_KEY=

# Docker SetUp
BACKEND_PORT=3030
REDIS_PORT=6379
DB_HOST=postgres
DB_PORT=5430
DB_USER=fytech
DB_NAME=fytech
DB_PASSWORD=root
DB_URL=postgres://fytech:root@postgres:5432/fytech
